<%= form_for(@elective) do |f| %>
  <% if @elective.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@elective.errors.count, "error") %> prohibited this elective from being saved:</h2>

      <ul>
      <% @elective.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :cols => "50", :rows => "10" %>
  </div>
  <div class="field">
    <%= f.label :capacity %><br>
    <%= f.number_field :capacity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
