<p id="notice"><%= notice %></p>

<h1>Listing Electives</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <% if current_user.admin? %>
        <th>Capacity</th>
        <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @electives.each do |elective| %>
      <tr>
        <td><%= elective.title %></td>
        <td><%= elective.description %></td>
        <% if current_user.admin? %>
          <td><%= elective.capacity %></td>
          <td><%= link_to 'Show', elective %></td>
          <td><%= link_to 'Edit', edit_elective_path(elective) %></td>
          <td><%= link_to 'Destroy', elective, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.admin? %>
  <%= link_to 'New Elective', new_elective_path %>
  <br>
<% else %>
  
<% end %>