<p id="notice"><%= notice %></p>
<h1><%= @title %></h1>
<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>1st Choice</th>
      <th>2nd Choice</th>
      <th>3rd Choice</th>
      <th>4th Choice</th>
      <th>Elective #1</th>
      <th>Elective #2</th>
      <% if current_user.admin? %>
        <th>Admin?</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @user.email %></td>
        <td><%= @user.firstChoice %></td>
        <td><%= @user.secondChoice %></td>
        <td><%= @user.thirdChoice %></td>
        <td><%= @user.fourthChoice %></td>
        <td><%=  %></td>
        <td><%=  %></td>
        <% if current_user.admin? %>
          <td><%= @user.admin %></td>
      <% end %>
      </tr>
  </tbody>
</table>
<%= link_to 'Edit', edit_user_path(@user) %>
<% if current_user.admin? %>
  <%= link_to 'Back', users_path %>
<% end %>
